/*height classes*/
.xs-height {
  height: 20px;
}

.sm-height {
  height: 60px;
}

.md-height {
  height: 180px;
}

.lg-height {
  height: 540px;
}

/*background-color class*/
.bg-black {
  background-color: black;
}

/*content styles*/
#outer {
  margin-top: 50px;
}

.horizontal-gap {
  margin: 0 30px;
}

.sm-top-gap {
  margin-top: 20px;
}

.lg-top-gap {
  margin-top: 40px;
}

.md-side-gap {
  margin: 20px 48.5px 0px 48.5px;
}

.md-side-gap-2 {
  margin: 40px 48.5px 0px 48.5px;
}

.footer-gap {
  margin-bottom: 50px;
}
